<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HEPHAESTUS: Fundamentals</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesThree.css') }}">
    </head>


    <body>
        <fieldset id=f1>
        <h1 class=header>HEPHAESTUS FUNDAMENTAL KNOWLEDGE</h1> 
        <a href="/" class=linkhp>Return Home</a>
        </fieldset>
        <fieldset id=faq>
        <table style="width:95%">
           
            <tr style="color:gold">   
                <td><h1>SUBJECT</h1></td>
                <td><h1>.   KNOWLEDGE</h1></td>
                
            </tr>
       
            <tr style="color:rgb(255, 194, 38)">
                <td><b>What is HEPHAESTUS?</b></td>
                <td>HEPHAESTUS is the time travelling machine which transports Hephaestians
                    to different points on the currents of time in order for them to carry
                    out their missions. Please search upon the <b>ABOUT</b><a href="/about" class=linkhp>"ABOUT"</a> dimension for further details.
                </td>

            </tr>
            <tr style="color:rgb(255, 194, 38)">
                <td><b>Why YOU should join Project HEPHAESTUS?</b></td>
                <td>In case it isn't obvious to you, Project HEPHAESTUS is the only way to recover
                    the Lost and return them to the timeline they call home. Such a feat can only be
                    accomplished if the best of humanity, the brave and courageous amongst us can step 
                    up and enter HEPHAESTUS. If you consider yourself brave, courageous, selfless,
                    determined, exeptional or the many other qualities of that ilk, humanity needs you,
                    as much as it needs HEPHAESTUS. 
                </td>

            </tr> 
            <tr style="color:rgb(255, 193, 36)">
                <td><b>Who are the Lost?</b></td>
                <td>A story well known to the current age but unknown to its ancestors,
                     the Lost were once citizens in our late Solar System.
                    Exiled to the currents of time by the Andromeda Paradox,
                    also known as the Great Shatter of 2634, they are prisoners in 
                    timelines afar. It is the bound duty of every 
                    Hephaestian to scour the past and future, using HEPHAESTUS 
                    and return the Lost to their rightful plain of existence, 
                    right here, right now.  
                </td>
            </tr>          
            <tr style="color:rgb(255, 194, 38)">
                <td><b>Where are the headquarters of Project HEPHAESTUS?</b></td>
                <td>Information that you are unlikely to ever be worthy
                    of knowing. Just know that no matter where you are or
                    where you live, it is a place endlessly far way from
                    there. If you commit to Project HEPHAESTUS, you will likely
                    never return home, yet millions of Lost can be found, and safely
                    returned home.
                </td>
            </tr>
           
            
            <tr style="color:rgb(255, 194, 38)">
                <td><b>Why is this just an ordinary website and accessible to the public?</b></td>
                <td>It is our mission at Project HEPHAESTUS to reach out to the human
                    population across the Galactica and recruit them to our cause. This "ordinary" website provides 
                    mild exposure to individual cerebro-webs far and wide and we will not fully expose anyone to the project until
                    that person is tested and deemed worthy and swears by Hamid's Oath.
                </td>

            </tr>
            
        </table>
    </fieldset>
        <div style="color:gold;background-color: black;width:1100px;">This fundamental knowledge is expanded upon on the <a href="/about" style="color:white;">ABOUT</a> dimension.
            Those who are eager to join the project would be wise to read it through entirely.
          </div>
    </body>
</html>