<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Record of Heroes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesTwo.css') }}">
    </head>

    <body style=background-color:mediumblue>
        <fieldset id=f1>
        <h1 id=header>RECORD OF HEROES</h1>
        <a href="/" class=linkhp>Return Home</a>
        </fieldset>
        <fieldset id=f2>
        <div class=quote><i><b>"Remember those who dedicate their lives to a cause bigger than the Earth, but also those who do little things
        with a heart wider than the sun."</b></i>-Hamid</div>
        <h2 class=info>These great heroes that have embraced project HEPHAESTUS have proven that impossibilites are the specks of a bygone
            age.
        </h2>
        </fieldset>
        <ol reversed> 
            
            <li style="color:silver"><h2>Arxideya</h2></li>
            <fieldset style="background:url(static/silver.jpg) no-repeat center center fixed";>
            <img src= "{{ url_for('static', filename='arxideya.jpg') }}" alt="archer" style="float:left;padding-right:25px;width:450px;height:470px;">
            <ul style="color:black"><b>
                <br><br><br><br><br>
                <li>Occupation: Ranger</li>
                <br>
                <li>6700 Lost Rescued</li>
                <br>
                <li>312 Hephaestian Missions Completed</li>
                <br>
                <li>Felled the Wayward Star to protect the Galactica</li>
                <br>
                <li>Provided aid to the wounded after the Great Shatter</li>
                <br>
                <li>Weided a powerful bow and fired a variety of damaging arrows</li></b>
            </ul>
            </fieldset>
            <br><br><br><br>
            
            <li style="color:rgb(29, 230, 29)"><h2>Cremus Povar</h2></li>
            <fieldset style="background:url(static/forest.jpg) no-repeat center center fixed";>
            <img src= "{{ url_for('static', filename='cremus.jpg') }}" alt="archer" style="float:right;padding-right:25px;width:450px;height:470px;">
            <ul style="color:yellow"><b>
                    <br><br><br>
                <li>Occupation: Medic</li>
                <br>
                <li>200 Lost Rescued</li>
                <br>
                <li>314 Hephaestian Missions Completed</li>
                <br>
                <li>Merged his DNA with the DNA of 60 crop producing plant species.</li>
                <br>
                <li>Saved 200 villages from famine and death by simultanoeusly growing a variety of crops
                    across the Galactica and inhaling the poisonous gas after a large gas explosion. 
                </li><br>
                <li>Found Master Mo Ni Kai after a battle in 531 BC and nursed him back to health, returning
                    him to the Galactica along with 166 other Lost.
                </li></b>
            </ul>
            </fieldset>
            <br><br><br>
           
            <li style="color:orange"><h2>Captain Narkitange Changa</h2></li>
             <fieldset style="background:url(static/city.jpg) no-repeat center center fixed";>
            <img src= "{{ url_for('static', filename='changa.jpg') }}" alt="archer" style="float:left;padding-right:25px;width:450px;height:470px;">
            <ul style="color:black">
                    <br><br><br>
              <b>  <li>Occupation: Ship Captain and Entrepreneur</li>
                <br>
                <li>Freed 600 slaves from the Isla de Bandida Prison so that they could escape the Great Shatter.</li>
                <br>
                <li>Sailed 700 Africans, 368 Malagasies and 71 Egyptians to Cape Town Port just in time to board last
                    ship to the Galactica before the Great Shatter.
                </li><br>
                <li>Was the lead organizer and sponsor for the first football world cup on the Galactica</li>
                <br>
                <li>Donated his organs to save his mutilated son Akiibi who then joined Project Hephaestus to follow in his father's 
                    footsteps.
                </li><br>
                <li>Ship was sunk by followers of Kobra'Al. No members of the crew were ever found.</li>
                <br>
                <li>It is believed that he still lives, but how could it be possible?</li>
            </b>
            </ul>
            </fieldset>
            <br><br><br>
            <li style="color:white"><h2>Llian Aquarius</h2></li>
            <fieldset style="background:url(static/ocean.jpg) no-repeat center center fixed";>
            <img src= "{{ url_for('static', filename='llian.jpg') }}" alt="archer" style="float:right;padding-right:25px;width:670px;height:420px;">
            <b><ul style="color:white">
                <br><br><br>
                <li>Occupation: Unknown</li>
                <br>
                <li>6 000 000 Lost Rescued.</li>
                <br>
                <li>Provided a safe haven under the ocean for thousands during the great shatter.</li>
                <br>
                <li>Saved all of humanity by defeating the tyrannical Commander Kobra'Al before he could launch 1200 nuclear missiles
                    from his hideout in the Great Ocean.</li>
                    <br>
                <li>Her Waterbreathing elixir has provided humanity with the possibility of breathing underwater for a limited
                    time. </li>     
            </ul></b>
            </fieldset>
            <br><br><br>
            <li style="color:gold"><h2>Logan Legend</h2></li>
            <fieldset style="background:url(static/galaxy.png) no-repeat center center fixed";>
            <img src= "{{ url_for('static', filename='logan.jpg') }}" alt="archer" style="float:left;padding-right:25px;width:450px;height:470px;">
            <ul style="color:gold"><b>
            <li>Occupation: Protector of the Realm.</li>
            <br>
            <li>98 000 000 Lost Rescued.</li>
            <br>
            <li>The first Hephaestian.</li>
            <br>
            <li>Outcast by the Great Shatter, he returned to the present day by his own accord, a hero of many
                civilizations. </li>
            <br>
            <li>Traversed multiple galaxies, gaining the aid of 111 different species that helped us construct
                the Galactica, our new home after the Solar System's destruction. </li>
            <br>
            <li>Having mastered 840 alien languages, he led humanity into the unknown by teaching us the foreign ways</li>
            <br>
            <li>Bearing a celestial map to a chain of new habitable worlds etched into his mind, he will lead humanity
                into a bright future.
            </li></b>
            </ul>
            </fieldset>
        </ol>



    </body>
</html>