<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project HEPHAESTUS</title>
    </head>

    <body style=background-color:mediumblue>
        <div style=color:darkgoldenrod><h1>Welcome to Project HEPHAESTUS!</h1>
        <h2><b><i>Where We Break The Limits of Reality.</i></b></h2>
        </div>
       <a href="signUp.html" style=color:gold>EMBRACE YOUR DESTINY</a>
    <ul style=color:gold> 
        <li><a href="about.html"  style=color:darkgoldenrod>About Project HEPHAESTUS</a></li>
        <li><a href="faqs.html"  style=color:darkgoldenrod>FAQs</a></li>
        <li><a href="history.html"  style=color:darkgoldenrod>View HEPHAESTUS Records</a></li>
       
    </ul>
    </body>
</html>